@import "tailwindcss";
@plugin "daisyui" {
  themes: all;
}

:root {
  --color-base-200: #eadfd5;
  --color-base-300: #cbaf96;
  --color-primary: #3a1612;
  --color-primary-content: #ffffff;
  --color-base-content: #0e0c0d;
  --color-secondary: #406e8e;
  --color-secondary-content: #ffffff;
  --color-accent: #f8f5f1;
}

.text-header {
  font-family: "Gentium Book Plus", serif;
  font-weight: 700;
  color: var(--color-primary);
}

body {
  font-family: "Montserrat Variable", sans-serif;
  font-weight: 300;
}

.btn {
  font-family: "Montserrat Variable", sans-serif;
  font-weight: 400;
}

.embla {
  overflow: hidden;
}

.embla__viewport {
  overflow: hidden;
  width: 100%;
}

.embla__container {
  display: flex;
}

.embla__slide {
  flex: 0 0 33%;
  min-width: 0;
}

.embla__slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
