@import "tailwindcss";
@plugin "daisyui";

@layer base {
  h1 {
    @apply text-3xl md:text-5xl lg:text-6xl font-bold;
  }
  h2 {
    @apply text-2xl md:text-4xl font-semibold;
  }
  p {
    @apply text-base md:text-lg leading-relaxed;
  }
}

html {
  @apply bg-base-200;
  scroll-behavior: smooth;
}
